body {
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: verdana;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgBox {
    position: relative;
    width: 500px;
    height: 275px;
    background-size: cover;
    border: 2px solid #fff;
    overflow: hidden;
}

.imgBox img {
    width: 100%;
    transition: .5s;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: .5s;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0) scale(1) skew(-45deg);
    transition: .5s;
}
.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 50px;
    text-align: center;
}
.content h1 {
    padding: 0;
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5em;
    transform: translateY(-100%) scale(0);

}
.content p {
    padding: 0;
    color: #fff;
    font-size: 1em;
    transform: scale(2);
    transition: .5s;
    opacity: 0;
}
.imgBox:hover .content h1 {
    transform: translateY(0) scale(1);
}
.imgBox:hover .content p {
    transform: scale(1);
    opacity: 1;
}
.imgBox:hover img {
     transform: scale(2) translateX(-50px);
}
.imgBox:hover .container:before {
    opacity: 1;
    background: rgba(255,0 ,0, 0.689);
    transform: translateX(0) scale(1) skew(-45deg);
}
